.indexContainer{
	-webkit-overflow-scrolling:touch;

  .logo{
    width: 80px;
    height: 55px;
  }
  .header{
    width:100%;
    background-color:#f1e7e7;
    z-index: 9999
  }
  h1{
    text-align: center;
    font-size: 40px
  }

  .space-carousel {
    padding: 16px;
    background: #DEF1E5;
    overflow: hidden;
	}

	// 抽屉 菜单
	.my-drawer {
		position: relative;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.my-drawer .am-drawer-sidebar {
		background-color: #fff;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
	.my-drawer .am-drawer-sidebar .am-list {
		width: 300px;
		padding: 0;
	}
}

